<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <log4net>
    <root>
      <level key="LOG_LEVEL" value="ALL" />
      <!--1.OFF - nothing gets logged
      2.FATAL
      3.ERROR
      4.WARN
      5.INFO
      6.DEBUG
      7.ALL - everything-->
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="EventLogAppender" />
    </root>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <param name="LogName" value="BIANet" />
      <applicationName value="$safeprojectname$" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd-MMM-yyyy HH:mm:ss.fff} [%-5level] - %message%newline" />
      </layout>
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\\.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="2MB" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd'_$companyName$.$saferootprojectname$_Service'" />
      <preserveLogFileNameExtension value="true" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{dd-MMM-yyyy HH:mm:ss.fff} [%-5level] - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- intervalSync millisecond 10 min-->
    <add key="intervalSync" value="6000" />
    <add key="connectionString" value="Data Source=.\SQLExpress;Initial Catalog=$saferootprojectname$Dev;Integrated security=True" />
    <add key="PathApplicationShareFolder" value="\\EU\DFSEU\IS\Application\DMshare\Application\1.Integration\" />
  </appSettings>
  <connectionStrings>
    <add name="$saferootprojectname$DBContainer" connectionString="metadata=res://*/ProjectDB.csdl|res://*/ProjectDB.ssdl|res://*/ProjectDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=$saferootprojectname$Dev;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.9.1.0" newVersion="2.9.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
