.ui-dialog {
    min-width: 500px;
    height: auto;
    width: 60%;
    border-width: 0px !important;
    border-radius: 0px !important;
}

.dialog-content {
    border-radius: 0;
    color: #333333;
}

    .dialog-content .dataTables_paginate {
        padding-top: 0px !important;
    }

.dialog-body, .dialog-footer, .dialog-content {
    justify-content: center;
    border: 0;
}

.dialog-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.dialog-body {
    padding-top: 25px;
    padding-bottom: 16px;
}

    .dialog-body .select-container > select {
        height: 42px;
    }

.dialog-footer > .btn {
    padding-top: 0.375rem;
}

.ui-dialog-titlebar {
    padding-top: 0px;
    padding-bottom: 20px !important;
    margin-bottom: 10px;
    background-color: transparent;
    border-width: 0px;
    border-radius: 0px;
    top: 0px;
    width: 100%;
}

.ui-dialog-titlebar-close, .ui-dialog-titlebar-close:active,
.ui-dialog-titlebar-close:hover, .ui-dialog-titlebar-close:focus {
    padding: 0px !important;
    border: 0px;
    background-color: transparent;
    height: 24px !important;
    width: 24px !important;
    outline: 0;
}

.ui-dialog-titlebar-close {
    opacity: 0.5;
    top: 35px !important;
    right: 35px !important;
}

    .ui-dialog-titlebar-close:active {
        outline: none !important;
        box-shadow: none;
    }

    .ui-dialog-titlebar-close:hover, .ui-dialog-titlebar-close:focus {
        opacity: 0.75;
    }

.btn-action-bottom-dialog {
    bottom: inherit;
    position: absolute;
    bottom: 0px;
}

.ui-dialog {
    padding: 1px;
}

    .ui-dialog .ui-dialog-content {
        overflow: hidden;
        padding: 0px 0px;
    }

.dialogContainer {
    overflow: auto;
    padding: 5px;
    height: 100%
}

    .dialogContainer .form-horizontal .form-group {
        margin-right: 0px;
        margin-left: 0px;
    }
