$biaPrimaryColor: #8BC34A;
$biaAccentColor: #37474F;

$biaColorOnBgAccentColor: white;
$biaBgColor: #303030;
$biaMainBarColor: #212121;
$biaBgHoverColor: rgba(255, 255, 255, 0.04);
$biaFgTextColor: #fff;
$biaBorderColor: #bdbdbd;
$biaBgBreadcrumbColor: rgba(102, 102, 102, 0.2);
$biaTextBreadcrumbColor: white;

$is-dark: true;
