p-button,
button[pbutton] {
    &.ui-button-secondary {
        color: $biaPrimaryColor !important;
        :before {
            color: $biaPrimaryColor !important;
        }
    }
}

input,
textarea,
select,
button {
    color: $biaFgTextColor;
}

body .ui-dialog .ui-dialog-titlebar {
    background-color: $biaBgColor;
}
