<form (submit)="onSubmit()" fxLayout="column" [formGroup]="form">
  <div class="app-field-container" fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="90">
      <p-listbox
        [options]="allRoles"
        [showToggleAll]="false"
        formControlName="roles"
        multiple="multiple"
        checkbox="checkbox"
        optionLabel="label"
        [style]="{ width: '100%' }"
      >
      </p-listbox>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="end end">
    <button pButton label="{{ 'bia.save' | translate }}" type="submit" [disabled]="!form.valid"></button>
    <button
      pButton
      label="{{ 'bia.cancel' | translate }}"
      type="button"
      class="ui-button-secondary"
      (click)="onCancel()"
    ></button>
  </div>
</form>
