<script src="@Url.Content(BIA.Net.Common.BIASettingsReader.UrlStatic + "/Safran.DM.Net/V2.0/js/MatomoIds.js")"></script>
<script src="@Url.Content(BIA.Net.Common.BIASettingsReader.UrlStatic + "/Safran.DM.Net/V2.0/js/Matomo.js")"></script>
<script>matomoAnalyzer("@BIA.Net.Common.BIASettingsReader.ProjectShortName");</script>
<div class="dydu-background"></div> <!-- Chatbot -->
<script type="text/javascript">
    DYDU_QUALIFICATION_MODE = true;
</script>
<script id="dyduchatbox" src="https://front1.doyoudreamup.com/Prod/4e3aca48-e3a4-4f06-8355-94e2975de855/f10140a6-bdb1-4855-9157-bcea5cc53329/assembly.min.js"></script>
<style>
    #dydu-teaser {
        bottom: 80px;
        right: 10px;
    }
</style>