<div style="font-family:Arial;">
    <div>
        HOLA Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.
    </div>
    <br />
    <div>
        Tincidunt : @Model.Param1
    </div>
    <div>
        Maecenas : @Model.Param2
    </div>
    <div>
        Nullam  : @Model.Param3
    </div>
    <br />
    <div>
        Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
    </div>
    <br />
    <div>
        $saferootprojectname$
    </div>
</div>