<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="BiaNet" type="BIA.Net.Common.Configuration.BIANetSection" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="CompanyName" value="$companyName$" />
    <add key="DivisionName" value="$divisionName$" />
    <add key="DivisionShortName" value="ZZDivisionShortNameZZ" />
    <add key="ProjectTitle" value="$saferootprojectname$" />
    <add key="ProjectShortName" value="ZZProjectShortNameZZ" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="WindowsServiceName" value="$companyName$_$divisionName$_$saferootprojectname$" />
    <add key="UrlReport" value="http://sreublc544/Reports/report/DEV/$saferootprojectname$/Reports" />
    <add key="UrlIndexDivision" value="/DMIndex" />
    <add key="UrlServerToServerIndexDivision" value="http://localhost/DMIndex" />
    <add key="UrlStatic" value="$staticAddress$" />
    <add key="PathApplicationShareFolder" value="\\EU\DFSEU\IS\Application\DMshare\Application\1.Integration\" />
  </appSettings>
  <BiaNet>
    <Language>
      <ApplicationLanguages>
        <add key="de-DE" name="Deutsh" shortName="DE" />
        <add key="es-ES" name="Español ES" shortName="ES" />
        <add key="fr-FR" name="Français" shortName="FR" />
        <add key="en-GB" name="English GB" shortName="GB" />
        <add key="es-MX" name="Español MX" shortName="MX" />
        <add key="en-US" name="English US" shortName="US" />
      </ApplicationLanguages>
    </Language>
    <Authentication>
      <Parameters>
        <Values>
          <add key="ADDomains" value="eu.labinal.snecma,na.labinal.snecma" />
          <add key="ADRolesMode" value="IISGroup" />
          <!--ADRolesMode can be IISGroup, ADUserFirst, ADGroupFirst-->
          <add key="Caching" value="Session" />
          <!--<add key="LoadbalancedListUrls" value="https://sreublc813.eu.labinal.snecma/$saferootprojectname$/Common,https://sreublc814.eu.labinal.snecma/$saferootprojectname$/Common" />-->
          <!--<add key="LoadbalancedListUrls" value="http://localhost/$saferootprojectname$/Common,http://localhost/$saferootprojectname$LB1/Common,http://localhost:12347/$saferootprojectname$/MVC/Common" />-->
        </Values>
      </Parameters>
      <Identities>
        <!--<Value key="Login" value="L012345" />
        <Value key="LocalUserID" value="L012345" />-->
        <!--<ClientCertificateInHeader key="X-ARR-ClientCert" windowsIdentity="Subject.SERIALNUMBER">
          <Validation key="$companyName$">
            <add key="Subject.O" value="$companyName$" />
            <add key="Issuer.O" value="$companyName$" />
          </Validation>
        </ClientCertificateInHeader>-->
        <WindowsIdentity key="Login" identityField="Name" removeDomain="true" />
      </Identities>
      <Roles>
        <Value key="User" value="User" />
        <Value key="Admin" value="Admin" />
        <Value key="Internal" value="Internal" />
        <!--<ADRole key="User" value="EU\P_LPS_DM_EU_$saferootprojectname$_User,NA\P_LPS_DM_NA_$saferootprojectname$_User" />
        <ADRole key="Admin" value="EU\P_LPS_DM_EU_$saferootprojectname$_Admin,NA\P_LPS_DM_NA_$saferootprojectname$_Admin" />
        <ADRole key="Service" value="EU\P_LPS_DM_EU_Proj_Service" />
        <ADRole key="Internal" value="EU\P_LPS_DM_EU_Proj_Internal" />-->
        <CustomCode key="CustomCodeRoles" />
      </Roles>
      <Properties>
        <!-- Properties of the user are generaly gets from database (by overriding the function UserInfo > RefreshProperties . But you can force then here-->
        <!--<Value key="Country" value="FR" />
        <Value key="FirstName" value="MyFirstName" />
        <Value key="LastName" value="MyLastName" />-->
        <!-- If user is not in database we retrieve the infos (Country and FirstName) from AD-->
        <ADField key="Country" adfield="c" maxLenght="10" default="EN" />
        <ADField key="FirstName" adfield="givenName" maxLenght="50" default="      " />
      </Properties>
      <LinkedProperties>
        <!-- Linked properties are use when you synchronize the database from active directory or other webservice
        <Value key="Country" value="EN" />
        <Value key="FirstName" value="MyFirstName" />
        <Value key="LastName" value="MyLastName" />
        -->
        <ObjectField key="Login" source="Login" />
        <Function key="DAIDate" type="System.DateTime" property="Now" />
        <ADField key="Country" adfield="c" maxLenght="10" default="EN" />
        <ADField key="FirstName" adfield="givenName" maxLenght="50" default="      " />
        <ADField key="LastName" adfield="sn" maxLenght="50" default="      " />
        <ADField key="Email" adfield="mail" maxLenght="256" default="" />
        <ADField key="Site" adfield="description" maxLenght="50" default="Dummy" />
        <ADField key="Company" adfield="company" maxLenght="50" default="Dummy" />
        <ADField key="Office" adfield="physicalDeliveryOfficeName" maxLenght="20" default="Dummy" />
        <ADField key="Department" adfield="department" maxLenght="50" default="Dummy" />
        <ADField key="DistinguishedName" adfield="distinguishedName" maxLenght="50" default="Dummy" />
        <ADField key="Manager" adfield="manager" maxLenght="50" default="Dummy" />
        <ADField key="DAIEnable" default="true" />
        <CustomCode key="CustomCodeLinkedProperties" />
      </LinkedProperties>
      <Language>
        <Mapping key="Properties.Country">
          <add key="FR" value="fr-FR" />
          <add key="MA" value="fr-FR" />
          <add key="ES" value="es-ES" />
          <add key="MX" value="es-MX" />
          <add key="GB" value="en-GB" />
          <add key="US" value="en-US" />
        </Mapping>
        <CustomCode key="CustomCodeLanguage" />
        <Value key="default" value="en-US" />
      </Language>
      <UserProfile>
        <!--<Value key="Theme" value="Light" />-->
        <WebService key="IndexDivisionProfile" URL="$(UrlServerToServerIndexDivision)/UserProfile/GetUserProfile">
          <Parameter key="login" source="Login" />
        </WebService>
      </UserProfile>
    </Authentication>
    <Dialog>
      <Layouts>
        <add name="Popup" path="~/Views/Shared/BIA.Net/_BIALayout_Dialog.cshtml" />
        <add name="PopupInfos" path="~/Views/Shared/BIA.Net/_BIALayout_Dialog_Infos.cshtml" />
        <add name="Content" path="~/Views/Shared/BIA.Net/_BIALayout_Content.cshtml" />
        <add name="MainPageContent" path="~/Views/Shared/BIA.Net/_BIALayout_MainPageContent.cshtml" />
      </Layouts>
    </Dialog>
  </BiaNet>
  <log4net>
    <root>
      <level value="ERROR" />
      <!--1.OFF - nothing gets logged
      2.FATAL
      3.ERROR
      4.WARN
      5.INFO
      6.DEBUG
      7.ALL - everything-->
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="SmtpAppender" />
    </root>
    <appender name="LogFileAppender" type="BIA.Net.Common.CustomRollingFileAppender">
      <file value="Logs\\.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="30" />
      <maximumFileSize value="2MB" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd'_$companyName$.$saferootprojectname$_MVC'" />
      <preserveLogFileNameExtension value="true" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{dd-MMM-yyyy HH:mm:ss.fff} [%-5level] - %message%newline" />
      </layout>
    </appender>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="$supportMail$" />
      <from value="noreply-$saferootprojectname$@$companyName$.com" />
      <subject value="[$saferootprojectname$] ERROR" />
      <smtpHost value="127.0.0.1" />
      <bufferSize value="512" />
      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR" />
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{dd-MMM-yyyy HH:mm:ss.fff} [%-5level] - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.5.2" />
    <customErrors mode="RemoteOnly">
      <error statusCode="401" redirect="$staticAddress$/Error.htm?num=401" />
      <error statusCode="403" redirect="$staticAddress$/Error.htm?num=403" />
      <error statusCode="500" redirect="$staticAddress$/Error.htm?num=500" />
      <error statusCode="404" redirect="$staticAddress$/Error.htm?num=404" />
    </customErrors>
    <!--<authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization>-->
    <httpModules />
    <siteMap enabled="true" defaultProvider="CustomSiteMapProvider">
      <providers>
        <add name="CustomSiteMapProvider" siteMapFile="~/SiteMap/SiteMap.sitemap" type="BIA.Net.Design.SiteMap.CustomSiteMapProvider" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
      <remove fileExtension=".ts" />
      <mimeMap fileExtension=".ts" mimeType="application/x-typescript" />
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.9.1.0" newVersion="2.9.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="false">
      <remove name="BundleModule" />
      <add name="BundleModule" type="System.Web.Optimization.BundleModule" />
      <add name="ErrorHandler" type="BIA.Net.MVC.Utility.ErrorHandler" />
    </modules>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="$saferootprojectname$DBContainer" connectionString="metadata=res://*/ProjectDB.csdl|res://*/ProjectDB.ssdl|res://*/ProjectDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SqlExpress;initial catalog=$saferootprojectname$Dev;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>